#root {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.document {
    display: inline-block;
}

.headerName {
    font-weight: bold;
    font-size: 60;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 12px;
}

.headerDescription {
    font-style: italic;
    padding: 24px;
    margin-bottom: 24px;
}

.state {
    margin-bottom: 72px;
}

.stateName {
    font-weight: bold;
    font-size: 30;
}

.newInfoTableWrapper {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

.newInfoTable {
    width: 100%;
    table-layout: fixed;
}

.newInfoTableHeader {
    text-align: center;
    width: 100%;
    font-size: 20;
}

.newInfoTableColumnLabels {
    font-weight: bold;
}

.newInfoTableElement {
    text-align: center;
}